// Custom styles.
body { 
	background-image: url('https://s2.ax1x.com/2019/07/16/Z7NTjx.jpg');
    background-attachment: fixed; // 不随屏幕滚动而滚动
    background-repeat: no-repeat; // 如果背景图不够屏幕大小则重复铺，改为no-repeat则表示不重复铺
	background-size: cover; // 等比例铺满屏幕
}


.bg_content {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.header-inner{
    margin-top: 10px;
	border-color: 60a3ec;
    padding: 60px 60px 60px 60px;
    //background-image: url('https://s2.ax1x.com/2019/07/17/Zq7Kk6.jpg');    
    background: #ffffff;
	background-repeat: no-repeat;
	background-size: cover;
    opacity: 0.9;
    //min-height: 10px;

}
.main-inner { 
    margin-top: 30px;
    padding: 60px 60px 60px 60px;
    background: #ffffff;
	//background-image: url('https://s2.ax1x.com/2019/07/17/Zqfzef.jpg');
	//background-size: cover;
    //background-position:center;
    //background-repeat:no-repeat;
    opacity: 0.9;
	color: #000000
    min-height: 50px;
}
#sidebar {
           background:url('https://s2.ax1x.com/2019/07/17/Zqj0VH.png');
		   //background: #ffffff
           background-size: cover;
           background-position:center;
           background-repeat:yes-repeat;
		   opacity: 0.8;
           p,span,a {color: #000000;}
}

.post {
  margin-top: 10px;
  margin-bottom: 60px;
  padding: 50px;
  -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
  -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}
