// Custom styles.
body { 
	background-image: url(/images/bj.jpg);
	background-attachment: fixed; // 不随屏幕滚动而滚动
	background-repeat: yes-repeat; // 如果背景图不够屏幕大小则重复铺，改为no-repeat则表示不重复铺
	//background-size: contain; // 等比例铺满屏幕
}
.bg_content {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.header-inner{
	opacity: 0.8;
}
.main-inner { 
   // margin-top: 60px;
   // padding: 60px 60px 60px 60px;

    opacity: 1;
}
